In [9]:
#!/usr/bin/env python

# make sure to install these packages before running:
# pip install pandas
# pip install sodapy

import pandas as pd
from sodapy import Socrata

# Unauthenticated client only works with public data sets. Note 'None'
# in place of application token, and no username or password:
client = Socrata("healthdata.gov", None)

# Example authenticated client (needed for non-public datasets):
# client = Socrata(healthdata.gov,
#                  MyAppToken,
#                  username="user@example.com",
#                  password="AFakePassword")

# First 2000 results, returned as JSON from API / converted to Python list of
# dictionaries by sodapy.
results = client.get("j8mb-icvb", order='total_results_reported DESC', limit=6000)

# Convert to pandas DataFrame
df = pd.DataFrame.from_records(results)

len(df)

WARNING:root:Requests made without an app_token will be subject to strict throttling limits.

6000

In [14]:
df = pd.read_csv('data/Dataset.csv')

In [15]:
len(df)
df.head()

,state,state_name,state_fips,fema_region,overall_outcome,date,new_results_reported,total_results_reported,geocoded_state
0,AL,Alabama,1,Region 4,Negative,2020/03/01,96,96,NaN
1,AL,Alabama,1,Region 4,Positive,2020/03/01,16,16,NaN
2,AL,Alabama,1,Region 4,Negative,2020/03/02,72,168,NaN
3,AL,Alabama,1,Region 4,Positive,2020/03/02,6,22,NaN
4,AL,Alabama,1,Region 4,Negative,2020/03/03,94,262,NaN

In [25]:
df.query('state == "NC" and overall_outcome == "Inconclusive"')['total_results_reported'].max()

38099

In [21]:
df[df.state == 'NC'].tail()

,state,state_name,state_fips,fema_region,overall_outcome,date,new_results_reported,total_results_reported,geocoded_state
118105,NC,North Carolina,37,Region 4,Negative,2023/03/24,5403,23354964,NaN
118106,NC,North Carolina,37,Region 4,Positive,2023/03/24,316,3061329,NaN
118107,NC,North Carolina,37,Region 4,Inconclusive,2023/03/25,0,38099,NaN
118108,NC,North Carolina,37,Region 4,Negative,2023/03/25,2651,23357615,NaN
118109,NC,North Carolina,37,Region 4,Positive,2023/03/25,189,3061518,NaN

In [28]:
print(type(df['date'][0]))

df_date = df

# data['AdmissionDate'] = pd.to_datetime(data['AdmissionDate'])
df_date['date'] = pd.to_datetime(df_date['date'])

print(type(df['date'][0]))

<class 'str'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>

In [42]:

print(type(df['date'][0]))

df_date = df_date.sort_values(by='date', ascending=False)
df_date.head()

df_date[df.state == 'NC'].iloc[0]['total_results_reported']

<class 'pandas._libs.tslibs.timestamps.Timestamp'>

/Users/bromeostasis/Documents/personal/delaware/venv/lib/python3.7/site-packages/ipykernel_launcher.py:6: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

23357615

In [48]:
print(df.overall_outcome.unique())
len(df.state.unique())

['Negative' 'Positive' 'Inconclusive']

56

In [51]:
import datetime

now = datetime.datetime.now()
thirtyseven = now - datetime.timedelta(days=37)

print(now)
print(thirtyseven)
print(thirtyseven + datetime.timedelta(days=1))

2023-03-28 10:30:42.674896
2023-02-19 10:30:42.674896
2023-02-20 10:30:42.674896

In [112]:
datestr = f'{thirtyseven.year}-{thirtyseven.month}-{thirtyseven.day}' 

results = client.get("j8mb-icvb", where=f'date >= "{datestr}"', limit=7000)

df = pd.DataFrame.from_records(results)

df['date'] = pd.to_datetime(df['date'])
df['new_results_reported'] = pd.to_numeric(df['new_results_reported'])


df.tail()

,state,state_name,state_fips,fema_region,overall_outcome,date,new_results_reported,total_results_reported
5557,WI,Wisconsin,55,Region 5,Negative,2023-03-25,1994,17407811
5558,WI,Wisconsin,55,Region 5,Positive,2023-03-25,250,1914315
5559,WY,Wyoming,56,Region 8,Inconclusive,2023-03-25,0,4013
5560,WY,Wyoming,56,Region 8,Negative,2023-03-25,23,1431806
5561,WY,Wyoming,56,Region 8,Positive,2023-03-25,1,137399

In [107]:
df.query(f'date == "{datestr}"')['new_results_reported'].sum()

# print(len(alab))
# print(alab.tail())
# print(alab.sum())
# df['new_results_reported'].sum()

144251

In [101]:
df.dtypes
df['new_results_reported'] = pd.to_numeric(df['new_results_reported'])
df.dtypes

state                             object
state_name                        object
state_fips                        object
fema_region                       object
overall_outcome                   object
date                      datetime64[ns]
new_results_reported               int64
total_results_reported            object
dtype: object

In [121]:
sum = df.query(f'date >= "2023-02-21" & date <= "2023-02-27"')['new_results_reported'].sum()

sum / 7

271143.85714285716

In [114]:
d = [1, 2, 3]
d.pop(0)
d

[2, 3]