In [ ]:
#!/usr/bin/env python

# make sure to install these packages before running:
# pip install pandas
# pip install sodapy

import pandas as pd
from sodapy import Socrata

# Unauthenticated client only works with public data sets. Note 'None'
# in place of application token, and no username or password:
client = Socrata("healthdata.gov", None)

# Example authenticated client (needed for non-public datasets):
# client = Socrata(healthdata.gov,
#                  MyAppToken,
#                  username="user@example.com",
#                  password="AFakePassword")

# First 2000 results, returned as JSON from API / converted to Python list of
# dictionaries by sodapy.
results = client.get("j8mb-icvb", order='total_results_reported DESC', limit=6000)

# Convert to pandas DataFrame
df = pd.DataFrame.from_records(results)

len(df)

In [201]:
# Reset data

df = pd.read_csv('data/Dataset.csv', dtype={
    'state': 'string',
    'state_name': 'string',
    'state_fips': 'int64',
    'fema_region': 'string',
    'overall_outcome': 'string',
    'new_results_reported': 'int64',
    'total_results_reported': 'int64',
    'geocoded_state': 'float64',
})

df['date'] = pd.to_datetime(df['date'])
# df['new_results_reported'] = pd.to_numeric(df['new_results_reported'])

df.dtypes

state                             string
state_name                        string
state_fips                         int64
fema_region                       string
overall_outcome                   string
date                      datetime64[ns]
new_results_reported               int64
total_results_reported             int64
geocoded_state                   float64
dtype: object

In [ ]:
len(df)
df.head()

print(df.state_fips.unique())

total = 0

for fips in df.state_fips.unique():
    pos = df.query(f'state_fips == {fips} & overall_outcome == "Positive"')['total_results_reported'].max()
    neg = df.query(f'state_fips == {fips} & overall_outcome == "Negative"')['total_results_reported'].max()
    inc = df.query(f'state_fips == {fips} & overall_outcome == "Inconclusive"')['total_results_reported'].max()
    
    if inc != inc:
        print('nan!')
        inc = 0
    
    total += pos + neg + inc
    print(pos, neg, inc, total)
    
print('totalotal', total)

In [ ]:
df.query('state == "NC" and overall_outcome == "Inconclusive"')['total_results_reported'].max()

In [ ]:
df[df.state == 'NC'].tail()

In [ ]:
print(type(df['date'][0]))

df_date = df

# data['AdmissionDate'] = pd.to_datetime(data['AdmissionDate'])
df_date['date'] = pd.to_datetime(df_date['date'])

print(type(df['date'][0]))

In [ ]:

print(type(df['date'][0]))

df_date = df_date.sort_values(by='date', ascending=False)
df_date.head()

df_date[df.state == 'NC'].iloc[0]['total_results_reported']

In [ ]:
print(df.overall_outcome.unique())
len(df.state.unique())

In [ ]:
import datetime

now = datetime.datetime.now()
thirtyseven = now - datetime.timedelta(days=37)

print(now)
print(thirtyseven)
print(thirtyseven + datetime.timedelta(days=1))

In [ ]:
datestr = f'{thirtyseven.year}-{thirtyseven.month}-{thirtyseven.day}' 

results = client.get("j8mb-icvb", where=f'date >= "{datestr}"', limit=7000)

df = pd.DataFrame.from_records(results)

df['date'] = pd.to_datetime(df['date'])
df['new_results_reported'] = pd.to_numeric(df['new_results_reported'])


df.tail()

In [ ]:
df.query(f'date == "{datestr}"')['new_results_reported'].sum()

# print(len(alab))
# print(alab.tail())
# print(alab.sum())
# df['new_results_reported'].sum()

In [ ]:
df.dtypes
df['new_results_reported'] = pd.to_numeric(df['new_results_reported'])
df.dtypes

In [ ]:
sum = df.query(f'date >= "2023-02-21" & date <= "2023-02-27"')['new_results_reported'].sum()

sum / 7

In [ ]:
d = [1, 2, 3]
d.pop(0)
d

In [169]:
# Data from last thirty days

thirty = now - datetime.timedelta(days=30)

datestr = f'{thirty.year}-{thirty.month}-{thirty.day}' 

# results = client.get("j8mb-icvb", where=f'date >= "{datestr}"', limit=7000)

df = pd.DataFrame.from_records(results)

df['date'] = pd.to_datetime(df['date'])
df['new_results_reported'] = pd.to_numeric(df['new_results_reported'])

df = df[df.date > datestr]

df.head()

,state,state_name,state_fips,fema_region,overall_outcome,date,new_results_reported,total_results_reported
1296,AL,Alabama,01,Region 4,Inconclusive,2023-02-27,0,18717
1297,AL,Alabama,01,Region 4,Negative,2023-02-27,1903,7819081
1298,AL,Alabama,01,Region 4,Positive,2023-02-27,303,1280029
1299,AK,Alaska,02,Region 10,Inconclusive,2023-02-27,0,5249
1300,AK,Alaska,02,Region 10,Negative,2023-02-27,609,4359383

In [ ]:
al = df[df.state == 'AZ']

print(al.head())

total = al['new_results_reported'].sum()
positive = al[df.overall_outcome == 'Positive']['new_results_reported'].sum()

print(total, positive, positive/total)

In [166]:
# Verify part 2

randoday = now - datetime.timedelta(days=2)
week_before = randoday - datetime.timedelta(days=7)

print(randoday, week_before)

df_range = df.query(f'date >= "{str(week_before)}" & date <= "{str(randoday)}"')

df_range.tail()

df_range['new_results_reported'].sum() / 7

2023-03-26 10:30:42.674896 2023-03-19 10:30:42.674896

131104.85714285713

In [179]:
# Verify part 3

df_state = df[df.state == 'SD']

total = df_state['new_results_reported'].sum()
positive = df_state[df.overall_outcome == 'Positive']['new_results_reported'].sum()

print(positive, total, positive / total)

df_state.tail()
df_state.date.unique()

3429 15011 0.228432482845913

/Users/bromeostasis/Documents/personal/delaware/venv/lib/python3.7/site-packages/ipykernel_launcher.py:6: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

array(['2023-02-27T00:00:00.000000000', '2023-02-28T00:00:00.000000000',
       '2023-03-01T00:00:00.000000000', '2023-03-02T00:00:00.000000000',
       '2023-03-03T00:00:00.000000000', '2023-03-04T00:00:00.000000000',
       '2023-03-05T00:00:00.000000000', '2023-03-06T00:00:00.000000000',
       '2023-03-07T00:00:00.000000000', '2023-03-08T00:00:00.000000000',
       '2023-03-09T00:00:00.000000000', '2023-03-10T00:00:00.000000000',
       '2023-03-11T00:00:00.000000000', '2023-03-12T00:00:00.000000000',
       '2023-03-13T00:00:00.000000000', '2023-03-14T00:00:00.000000000',
       '2023-03-15T00:00:00.000000000', '2023-03-16T00:00:00.000000000',
       '2023-03-17T00:00:00.000000000', '2023-03-18T00:00:00.000000000',
       '2023-03-19T00:00:00.000000000', '2023-03-20T00:00:00.000000000',
       '2023-03-21T00:00:00.000000000', '2023-03-22T00:00:00.000000000',
       '2023-03-23T00:00:00.000000000', '2023-03-24T00:00:00.000000000',
       '2023-03-25T00:00:00.000000000'], dtype='datetime64[ns]')

In [194]:
import matplotlib.pyplot as plt

plot_data = [('2023-2-26', 263674.29), ('2023-2-27', 271143.86), ('2023-2-28', 270480.14), ('2023-3-1', 265090.57), ('2023-3-2', 262166.57), ('2023-3-3', 256812.86), ('2023-3-4', 251755.57), ('2023-3-5', 245728.43), ('2023-3-6', 234417.86), ('2023-3-7', 226726.14), ('2023-3-8', 227869.57), ('2023-3-9', 228495.57), ('2023-3-10', 229340.29), ('2023-3-11', 232213.29), ('2023-3-12', 235701.86), ('2023-3-13', 244838.71), ('2023-3-14', 252249.86), ('2023-3-15', 249375.86), ('2023-3-16', 246066.43), ('2023-3-17', 243332.14), ('2023-3-18', 240871.43), ('2023-3-19', 239187.43), ('2023-3-20', 229209.71), ('2023-3-21', 216778.71), ('2023-3-22', 204276.43), ('2023-3-23', 185357.43), ('2023-3-24', 165752.0), ('2023-3-25', 148636.71), ('2023-3-26', 131104.86), ('2023-3-27', 104485.86)]

# plt.plot(*zip(*plot_data))
# plt.gca().xaxis.set_major_locator(plt.MultipleLocator(6))
# plt.title('Random Figure')
# plt.xlabel('Date')
# plt.ylabel('Rolling Average')
# plt.show()

print(*plot_data)
print(zip(*plot_data))
print(*zip(*plot_data))

('2023-2-26', 263674.29) ('2023-2-27', 271143.86) ('2023-2-28', 270480.14) ('2023-3-1', 265090.57) ('2023-3-2', 262166.57) ('2023-3-3', 256812.86) ('2023-3-4', 251755.57) ('2023-3-5', 245728.43) ('2023-3-6', 234417.86) ('2023-3-7', 226726.14) ('2023-3-8', 227869.57) ('2023-3-9', 228495.57) ('2023-3-10', 229340.29) ('2023-3-11', 232213.29) ('2023-3-12', 235701.86) ('2023-3-13', 244838.71) ('2023-3-14', 252249.86) ('2023-3-15', 249375.86) ('2023-3-16', 246066.43) ('2023-3-17', 243332.14) ('2023-3-18', 240871.43) ('2023-3-19', 239187.43) ('2023-3-20', 229209.71) ('2023-3-21', 216778.71) ('2023-3-22', 204276.43) ('2023-3-23', 185357.43) ('2023-3-24', 165752.0) ('2023-3-25', 148636.71) ('2023-3-26', 131104.86) ('2023-3-27', 104485.86)
<zip object at 0x7fb616c5fb08>
('2023-2-26', '2023-2-27', '2023-2-28', '2023-3-1', '2023-3-2', '2023-3-3', '2023-3-4', '2023-3-5', '2023-3-6', '2023-3-7', '2023-3-8', '2023-3-9', '2023-3-10', '2023-3-11', '2023-3-12', '2023-3-13', '2023-3-14', '2023-3-15', '2023-3-16', '2023-3-17', '2023-3-18', '2023-3-19', '2023-3-20', '2023-3-21', '2023-3-22', '2023-3-23', '2023-3-24', '2023-3-25', '2023-3-26', '2023-3-27') (263674.29, 271143.86, 270480.14, 265090.57, 262166.57, 256812.86, 251755.57, 245728.43, 234417.86, 226726.14, 227869.57, 228495.57, 229340.29, 232213.29, 235701.86, 244838.71, 252249.86, 249375.86, 246066.43, 243332.14, 240871.43, 239187.43, 229209.71, 216778.71, 204276.43, 185357.43, 165752.0, 148636.71, 131104.86, 104485.86)