In [9]:
#!/usr/bin/env python

# make sure to install these packages before running:
# pip install pandas
# pip install sodapy

import pandas as pd
from sodapy import Socrata

# Unauthenticated client only works with public data sets. Note 'None'
# in place of application token, and no username or password:
client = Socrata("healthdata.gov", None)

# Example authenticated client (needed for non-public datasets):
# client = Socrata(healthdata.gov,
#                  MyAppToken,
#                  username="user@example.com",
#                  password="AFakePassword")

# First 2000 results, returned as JSON from API / converted to Python list of
# dictionaries by sodapy.
results = client.get("j8mb-icvb", order='total_results_reported DESC', limit=6000)

# Convert to pandas DataFrame
df = pd.DataFrame.from_records(results)

len(df)

WARNING:root:Requests made without an app_token will be subject to strict throttling limits.

6000

In [14]:
df = pd.read_csv('data/Dataset.csv')

In [15]:
len(df)
df.head()

,state,state_name,state_fips,fema_region,overall_outcome,date,new_results_reported,total_results_reported,geocoded_state
0,AL,Alabama,1,Region 4,Negative,2020/03/01,96,96,NaN
1,AL,Alabama,1,Region 4,Positive,2020/03/01,16,16,NaN
2,AL,Alabama,1,Region 4,Negative,2020/03/02,72,168,NaN
3,AL,Alabama,1,Region 4,Positive,2020/03/02,6,22,NaN
4,AL,Alabama,1,Region 4,Negative,2020/03/03,94,262,NaN

In [25]:
df.query('state == "NC" and overall_outcome == "Inconclusive"')['total_results_reported'].max()

38099

In [21]:
df[df.state == 'NC'].tail()

,state,state_name,state_fips,fema_region,overall_outcome,date,new_results_reported,total_results_reported,geocoded_state
118105,NC,North Carolina,37,Region 4,Negative,2023/03/24,5403,23354964,NaN
118106,NC,North Carolina,37,Region 4,Positive,2023/03/24,316,3061329,NaN
118107,NC,North Carolina,37,Region 4,Inconclusive,2023/03/25,0,38099,NaN
118108,NC,North Carolina,37,Region 4,Negative,2023/03/25,2651,23357615,NaN
118109,NC,North Carolina,37,Region 4,Positive,2023/03/25,189,3061518,NaN

In [28]:
print(type(df['date'][0]))

df_date = df

# data['AdmissionDate'] = pd.to_datetime(data['AdmissionDate'])
df_date['date'] = pd.to_datetime(df_date['date'])

print(type(df['date'][0]))

<class 'str'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>

In [42]:

print(type(df['date'][0]))

df_date = df_date.sort_values(by='date', ascending=False)
df_date.head()

df_date[df.state == 'NC'].iloc[0]['total_results_reported']

<class 'pandas._libs.tslibs.timestamps.Timestamp'>

/Users/bromeostasis/Documents/personal/delaware/venv/lib/python3.7/site-packages/ipykernel_launcher.py:6: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

23357615

In [48]:
print(df.overall_outcome.unique())
len(df.state.unique())

['Negative' 'Positive' 'Inconclusive']

56